body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


/* ===================== HEADER ===================== */
header {
    height: 70px;
    background:rgb(32, 32, 32);

    display: flex;

    border-bottom: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
}

.header-left-block {
    width: 20vw;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

img.header-logo-img {
    height: 60px;
    
}

.header-center-block {
    width: 60vw;
    height: 100%;
}

.header-center-top-block {
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1.header-center-top-title {
    font-size: 2em;
    color: silver;
}

.header-center-bottom-block {
    height: 40%;

    display: flex;
    justify-content:flex-end;
    align-items: center;
}

p.header-center-bottom-description {
    font-size: 0.9em;
    color: silver;
    font-style: italic;
}

.header-right-block {
    width: 20vw;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li.header-right-list-item {
    font-size: 0.7em;
    color: silver;
    padding: 0.5em 0.2em;
}

a.header-right-list-item-link {
    color: silver;
    text-decoration: none;
    padding: 0.5em 0.5em;
}

a.header-right-list-item-link:hover {
    /* text-shadow: 0 0 3px #FF0000, 0 0 5px black; */

    animation-name: header-login-register-background;
    animation-duration: 0.3s;
}

h1 {
    /* vertical-align: top; */
    margin: 0;
}

p {
    margin: 0;
}

/* ====================== MAIN ====================== */
main {
    min-height: calc(100vh - 70px - 51px);
    background:rgb(68, 68, 68);
    
    display: flex;
}

section {
    width: 50%;
    min-height: calc(100vh - 70px - 51px);
}

section.section-left {
    height: 100%;
    opacity: 0.5;
} 

section.section-right  {
    height: 100%;
    opacity: 0.5;
}

.section-left {
    border-right: 1px solid silver;
}

.section-right {
    border-left: 1px solid silver;
}



section.section-left:hover, section.section-right:hover {
    opacity: 1;
    animation-name: main-login-register-background;
    animation-duration: 0.3s;
}



h2.login-title, h2.register-title {
    text-align: center;
    color: silver;
    font-size: 3em;

    
  
}



form.login-form, form.register-form {
    width: 100%;
    padding-bottom: 1em;
}

.login-email-block, .login-password-block, .login-submit-block, .register-name-block, .register-email-block, .register-password-block, .register-password-block-2, .register-submit-block{
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 0.5em;
  
}

input {

    width: 50%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    padding: 0.7em 0.5em;
    text-align: center;
}

input.login-submit, input.register-submit {
    color: silver;
    background: rgb(32, 32, 32);
    border-style: none;
    padding: 1em;

    
}

input.login-submit:hover, input.register-submit:hover {
    font-size: 1.1em;
    padding: 0.85em;
    cursor: pointer;
}

/* ===================== FOOTER ===================== */
footer {
    height: 51px;
    background:rgb(32, 32, 32);
    color: silver;
    text-align: center;
    line-height: 50px;

    border-top: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
}

span.footer-evis {
    font-style: italic;
}


/* =================== ANIMATIONS =================== */

@keyframes header-login-register-background {
    0%   {background-color: rgb(32, 32, 32);}
    25%  {background-color: rgb(68, 68, 68);}
    50%  {background-color: rgb(68, 68, 68);}
    100% {background-color: rgb(32, 32, 32);}
}

@keyframes main-login-register-background {
    0%   {background-color: rgb(68, 68, 68);}
    25%  {background-color: rgb(32, 32, 32);}
    50%  {background-color: rgb(32, 32, 32);}
    100% {background-color: rgb(68, 68, 68);}
}

